    <!--Footer-->
    <footer id="footer" class="footer-3">
      <div class="site-footer">
        <div class="container-fluid p-5">
         <!--Footer Links-->
            <div class="footer-top">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 contact-box">
                        <h4 class="h4">ABOUT US</h4>
                          <p>Its Isabella Store .. We Work To deliver Your Product To Your Home ... <br>  Any Time , Any Place  </p>
                          <ul class="addressFooter">
                              <li class="phone"><i class="icon anm anm-phone-s"></i><p>(+20) 01023734243 </p></li>
                              <li class="email"><i class="icon anm anm-envelope-l"></i><p>mostafa0sayed1@gmail.com</p></li>
                          </ul>
                      </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                        <h4 class="h4">Quick Shop</h4>
                          <ul>
                            <li><a href="{% url 'products' 'bag' %}">Bags</a></li>
                              <li><a href="{% url 'products' 'shoes' %}">Shoses</a></li>
                              <li><a href="{% url 'products' 'summer_collection' %}">Summer Collection</a></li>
                              <li><a href="{% url 'products' 'sunglass' %}">Sunglass</a></li>
                              <li><a href="{% url 'products' 'jewelry' %}">Cosmetics</a></li>
                              <li><a href="{% url 'products' 'cosmetics' %}">jewelry</a></li>
                              <li><a href="{% url 'products' 'sports' %}">sports</a></li>


                          </ul>
                      </div>
                      <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                        <h4 class="h4">Informations</h4>
                          <ul>
                            <li><a href="{% url 'about' %}">About us</a></li>
                              <li><a href="#">Careers</a></li>
                              <li><a href="#">Privacy policy</a></li>
                              <li><a href="#">Terms &amp; condition</a></li>
                          </ul>
                      </div>
                      <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                        <h4 class="h4">Customer Services</h4>
                          <ul>
                            <li><a href="#">Request Personal Data</a></li>
                              <li><a href="{% url 'faqs' %}">FAQ's</a></li>
                              <li><a href="{% url 'contact' %}">Contact Us</a></li>
                              <li><a href="#">Orders and Returns</a></li>
                              <li><a href="#">Support Center</a></li>
                          </ul>
                      </div>
                      <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                          <div class="display-table">
                              <div class="display-table-cell footer-newsletter">
                                  <form action="#"  method="get" class="formnews">
                                    <label class="h4">Newsletter</label>
                                      <p>Be the first to hear about new trending and offers and see how you've helped.</p>
                                      <div class="input-group">
                                          <input type="email" class="input-group__field newsletter__input" name="EMAIL" value="" placeholder="Email address">
                                          <span class="input-group__btn">
                                              <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe"><span class="newsletter__submit-text--large">Subscribe</span></button>
                                          </span>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!--End Footer Links-->
              <hr>

          </div>
      </div>
  </footer>
  <!--End Footer-->