{% extends 'base.html' %}

 

 

 {% block content %}
    
    <!--Body Content-->
    <div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">FAQs</h1></div>
      		</div>
		</div>
        <div class="container mt-5">
        	<div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                	<div id="accordionExample">

                        <div class="faq-body">
                            <h4 class="panel-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">{{dataOne.title}}</h4>
                            <div id="collapseOne" class="collapse panel-content" data-parent="#accordionExample">{{dataOne.content}}</div>
                        </div>
                        <div class="faq-body">
                            <h4 class="panel-title" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">{{dataTwo.title}}</h4>
                            <div id="collapseTwo" class="collapse panel-content">{{dataTwo.content}}</div>
                        </div>
                        <div class="faq-body">
                            <h4 class="panel-title" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">{{dataThree.title}}</h4>
                            <div class="panel-content collapse" id="collapseThree">{{dataThree.content}}</div>
                        </div>
                        <h2 class="title h2">Other Resources</h2>
                        <div class="faq-body">
                            <h4 class="panel-title" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">{{dataFour.title}}</h4>
                            <div class="panel-content collapse" id="collapseFour">{{dataFour.content}}</div>
                        </div>
                        <div class="faq-body">
                            <h4 class="panel-title" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">{{dataFive.title}}</h4>
                            <div class="panel-content collapse" id="collapseFive">{{dataFive.content}}</div>
                        </div>
                        <div class="faq-body">
                            <h4 class="panel-title" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">{{dataSex.title}}</h4>
                            <div class="panel-content collapse" id="collapseSix">{{dataSex.content}}</div>
                        </div>
                        
        
                        


                    </div>
               	</div>
            </div>
        </div>
        
    </div>
    <!--End Body Content-->
    
    {% endblock content %}   
